/* round buttons */

button {

    background-color: var(--clr-2);
    color: var(--clr-1);
    cursor: pointer;
    border: 2px solid var(--clr-1);
    font-size: 1em;
    padding: 0.625em 1.625em;
    
    position: relative;
}


button:hover {
    color: var(--clrbase);
    border: 2px solid var(--clrbase);
}


.colorpicker-btn{
    padding: 0.425em 1.070em
}
.colorpicker{
    width: 30px;
    height: 20px;
}